<!DOCTYPE html>

<html>
    <head>
        <title>ZotReport - Confirm</title>
    </head>

    <body>
        aaa
      <!--  <h2>Inserted:</h2> <br />-->
      <!--  <table border = 1>-->
            <!--{% for key, value in result.items() %}-->
            <!--    <tr>-->
            <!--       <th> {{ key }} </th>-->
            <!--       <td> {{ value }} </td>-->
            <!--    </tr>-->
            <!--{% endfor %}-->
      <!--</table> <br /> <br /> <br />-->

      <!--<h2>All Entries:</h2> <br />-->
      <!--<table border = 1>-->
            <!--{% for key, value in allentries.items() %}-->
            <!--    <tr>-->
            <!--       <th> {{ key }} </th>-->
            <!--       <td> {{ value }} </td>-->
            <!--    </tr>-->
            <!--{% endfor %}-->
      <!--</table>-->
    </body>
</html>