<!DOCTYPE html>

<html>
    <head>
        <title>ZotReport</title>
    </head>

    <body>
        <h1>ZotReport</h1>

        <form action="https://braedons.pythonanywhere.com/confirm" method="POST">
            <p>Name: <input type="text" name="name" /></p>
            <p>Type: <input type="text" name="type" /></p>
            <p>Date: <input type="text" name="date" /></p>
            <p><input type="submit" value="Create" name="button" />
               <input type="submit" value="Read" name="button" formmethod="GET" />
               <input type="submit" value="Delete" name="button" /></p>
        </form>
    </body>
</html>